

.starfire{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: -158px;
  opacity: 0.75;
  z-index: 1;
  box-shadow: 5px 5px 2px 2px rgb(241, 236, 239);
overflow: 0;

}

.main-text{
  margin-left: 250px;
  position: fixed;
  bottom: 0;
  top: 0;
  z-index: 1000;
  transform: translateX(100%), rotateZ('60deg');
 
}

.main{
  height: 220px;
  font-family: Bebas Neue;
 font-size: 120px;
 font-weight:bold;
 color: black;
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 10px;
 margin-bottom: 10px;
 
 

 


}
